<div class="container-fluid w-50" id="navbar-search">
  <form
    class="d-flex justify-content-center align-items-center"
    role="search"
    href="/feeds"
  >
    <span class="d-flex justify-content-center align-items-center rounded">
      <svg
        width="20"
        height="20"
        class="DocSearch-Search-Icon text-white"
        viewBox="0 0 20 20"
        id="search-icon"
      >
        <path
          d="M14.386 14.386l4.0877 4.0877-4.0877-4.0877c-2.9418 2.9419-7.7115 2.9419-10.6533 0-2.9419-2.9418-2.9419-7.7115 0-10.6533 2.9418-2.9419 7.7115-2.9419 10.6533 0 2.9419 2.9418 2.9419 7.7115 0 10.6533z"
          stroke="currentColor"
          fill="none"
          fill-rule="evenodd"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
      </svg>
    </span>
    <input
      class="form-control shadow-none me-2 border border-0"
      type="search"
      name="search"
      aria-label="Search"
      id="search"
    />
  </form>
</div>
