<div id="sidebar" class="min-vh-100 d-flex justify-content-center align-items-center flex-column">
    <div id="navlinks" class="d-flex">
        <nav>
            <ul>
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 3</li>
            </ul>
        </nav>
    </div>

    <div id="communities">
        <h3>Communities</h3>
        <ul>
            <li>Community 1</li>
            <li>Community 2</li>
            <li>Community 3</li>
        </ul>
    </div>
</div>
