<%layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/stylesheets/main.css" />
<div class="" id="canvas">
  <div>
   <h1>Meddit!</h1>
   <a href="/users/login">Login</a>
   <a href="/users/register">Register</a>
  </div>
</div>