<%layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/stylesheets/main.css" />

<div class="row" id="canvas">
  <div class="container col-md-6 offset-md-3">
    <div style="width: 50%; height: 70%; background-color: azure;">
      <table>
        <tr>
          <td colspan="2">
              <h1>Logo Here!</h1>
          </td>
        </tr>
          <tr>
            <td>
              Username:
            </td>
            <td>
              <input id="txtUsername" type="text" />
            </td>
          </tr>
          <tr>
            <td>
              Password:
            </td>
            <td>
              <input id="txtPassword" type="password"/>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <button id="btnLogin" onClick="Login()" >Login</button>
            </td>
          </tr>
      </table>  
    </div>
  </div>
</div>

<script src="/javascripts/app.js"></script>
