<%layout('layouts/boilerplate')%>

<div class="container border rounded p-2">
    <label id="lblMessage"></label>
    <form action="/users/createUser" method="post">
      <input name="username" type="text" placeholder="Username" /> <br />
      <input name="email" type="email" placeholder="Email"><br />
      <br />
      <input name="password" type="password" placeholder="Password" /><br />
      <input name="cPassword" type="password" placeholder="Confirm Password"><br/>
      <button type="submit" class="btn btn-default" onclick="matchPassword();">Register</button>
    </form>
</div>

<script>
    function matchPassword(){
        var lblMessage = document.getElementById("lblMessage");
        var pw = document.querySelector("[name='password']");
        var cpw = document.querySelector("[name='cPassword']");

        if( pw != cpw){
            lblMessage.innerHTML = "Password input mismatched";
        }else{
            lblMessage.innerHTML = "";
        }
    }
</script>