:root {
  --primary-background-color: #0b1416;
  --hover-background-color: #141f25;
  --button-background-color: #1a272d;
  --toggler-hover-color: #233239;
  --search-bar-background-color: #223237;
}

.navbar-dark {
  background-color: var(--primary-background-color);
}

#navbar-logo {
  margin: 0 5px;
}

#navbar-logo svg {
  height: auto;
  color: #ff4500;
  background-color: white;
  border-radius: 50%;
}

#navbar-logo span {
  display: none;
}

.navbar-toggler {
  color: var(--primary-background-color);
}

.navbar-hover:hover {
  background-color: var(--toggler-hover-color);
  border-radius: 50px;
}

#navbar-search {
  background-color: var(--search-bar-background-color);
  border-radius: 20px;
  max-width: 5.5em;
}

#navbar-search input {
  background-color: var(--search-bar-background-color);
  padding: 0.5em;
}

#search-icon {
  color: black;
}

#create-feed svg {
  margin-right: 5px;
}

#create-feed span {
  font-size: 0.9rem;
}

#profile {
  max-width: 32px;
  border-radius: 50%;
  height: width;
  object-fit: cover;
}

#notification,
#profile {
  display: none;
}

#nav-end {
  padding: 0 15px 0 0;
}

@media (min-width: 400px) {
  #notification,
  #profile {
    display: inline;
  }
}

@media (min-width: 768px) {
  #navbar-logo {
    display: inline;
  }

  #navbar-search {
    max-width: 500px;
  }
}
