#navbar-logo span {
  display: none;
}

#navbar-search {
  background-color: white;
  border-radius: 20px;
}

#search-icon {
  color: black;
}

@media (min-width: 768px) {
  #navbar-logo span {
    display: inline;
  }
}
