#post {
    min-height: 250px;
}

#subredditProfile {
    max-width: 30px;
    height: auto;
    border-radius: 50%;
}

#upvote-icon:hover,
#downvote-icon:hover {
  background-color: var(--primary-color-subtle);
  border-radius: 50%;
}
