li {
    min-width: 200px;
    min-height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

li:hover {
    background-color: var(--sidebar-hover-color);
    border-radius: 20px;
}

#communities {
    font-size: 0.8em;
}

#custom-feed {
    font-size: 0.8em;
}

#sidebar {
    overflow: auto;
}
