<%layout('layouts/boilerplate')%>

<div class="container border rounded p-2">
  <h1>This is show Page</h1>
  <h2><%= feed.title %></h2>
  <h3><%= feed.description %></h3>
  <a href="/feeds" class="btn btn-secondary">Back</a>
  <a href="/feeds/<%=feed.id%>/edit" class="btn btn-warning">Edit</a>
</div>
