<%layout('layouts/boilerplate')%>

<div
  class="container d-flex align-items-center justify-content-center min-vh-100 text-white"
>
  <form action="/login" method="POST">
    <div class="mb-3">
      <label for="username" class="form-label">Username :</label>
      <input type="text" class="form-control" name="username" id="username" />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password :</label>
      <input
        type="password"
        class="form-control"
        name="password"
        id="password"
      />
    </div>
    <input type="submit" class="btn border rounded text-white" value="Login" />
  </form>
</div>
