<%layout('layouts/boilerplate')%>

<div
  class="container text-white d-flex justify-content-center align-items-center userAuthForm"
>
  <form action="/register" method="POST" class="needs-validation" novalidate>
    <div class="mb-3">
      <label for="username" class="form-label">Username :</label>
      <input
        type="text"
        class="form-control"
        name="username"
        id="username"
        placeholder="Username"
        required
      />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password :</label>
      <input
        type="password"
        class="form-control"
        name="password"
        id="password"
        placeholder="Password"
        required
      />
      <label for="cpassword" class="form-label">Confirm Password :</label>
      <input type="password"
      class="form-control"
      name="cpassword"
      placeholder="Confirm Password"
      required="true"
    />
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email :</label>
      <input
        type="email"
        class="form-control"
        name="email"
        id="email"
        placeholder="Email"
        required
      />
    </div>
    <input
      type="submit"
      class="btn border rounded text-white"
      value="Sign Up!"
    />
  </form>
</div>
